/** export-ignore
/app -export-ignore
/app/** -export-ignore
/dist -export-ignore
/dist/** -export-ignore
/lang -export-ignore
/lang/** -export-ignore
/partials -export-ignore
/partials/** -export-ignore
/templates -export-ignore
/templates/** -export-ignore
/composer.json -export-ignore
/composer.lock -export-ignore
/constants.php -export-ignore
/LICENSE.txt -export-ignore
/README.txt -export-ignore
/smart-featured-image.php -export-ignore
/uninstall.php -export-ignore
